xml_基础_知识点笔记/schemaExample/sequence_minOccurs_maxOccurs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="myType">
		<!--
			sequence中minOccurs和maxOccurs
			minOccurs: sequence元素下所定义的所有元素(一个整体)出现的最少次数
			maxOccurs：sequence元素下所定义的所有元素(一个整体)出现的最多次数
		-->
		<xs:sequence minOccurs="1" maxOccurs="2">
			<xs:element name="hello" type="xs:string"/>
			<xs:element name="world" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="helloWorld" type="myType"/>
</xs:schema>


